---
title: Erggle!
layout: base.njk
---

<div class="left">
<h2>erggle</h2>
<p><em>verb</em>.</p>
<ol>
<li>
<p>To do something for the first time<br>
<em>I'm going to erggle skydiving</em>: I'm going to go skydiving for the first time<br>
<em>I'm erggling skydiving</em>: I'm skydiving for the first time<br>
<em>I've erggled skydiving</em>: I skydived for the first time<br>
<em>I'm erggling</em>: I'm doing this for the first time</p>
</li>
<li>
<p>To understand something for the first time or renew your knowledge<br>
<em>Do you erggle it?</em>: Do you understand it?</p>
</li>
<li>
<p>To do something as though it was the first time</p>
</li>
</ol>
<p><em>noun</em>.</p>
<ol>
<li>The first occurrence<br>
Erggle Day: Every day is the first occurrence of today<br>
Happy Erggle: Happy this moment, second, minute, hour, day etc</li>
</ol>
</div>